<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Details</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1><%= onePiece.name %></h1>
    <img src="<%= onePiece.imageUrl %>" alt="image of <%= onePiece.name %>">
    <h5>Category:</h5>
    <p><%= onePiece.category %></p>
    <p><%= onePiece.description %></p>
    <h5>Material:</h5>
    <p><%= onePiece.material %></p>
    <h5>Price:</h5>
    <p><%= onePiece.price %></p>
    <% if(user && user._id === onePiece.designer.toString()) { %>
        <a href="/jewelry/update/<%= onePiece._id %>">Update Item</a>
        <form action="/jewelry/delete/<%= onePiece._id %>" method="post">
            <button type="submit">Delete</button>
        </form>
    <% } %>
    

</body>
</html>