<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Jewelry Item</title>
</head>
<body>
    <%- include('../navbar') %>

    <h1>Update <%= onePiece.name %></h1>
    <form action="/jewelry/update/<%= onePiece._id %>" method="post">
        <label for="designer">Brand Name</label>
        <select name="designer" id="designer">
             <% allDesigners.forEach((oneDesigner)=>{ %>
                <option value="<%= oneDesigner._id %>"> <%= oneDesigner.brandName %> </option>
            <% }) %>
        </select>
        
        <br><br>

        <label for="name">Item Name</label>
        <input type="text" name="name" value="<%= onePiece.name %>">
        <br><br>

        <label for="category">Category</label>
        <input type="text" name="category" value="<%= onePiece.category %>">
        <br><br>

        <label for="description">Description</label>
        <input type="text" name="description" value="<%= onePiece.description %>">
        <br><br>

        <label for="material">Material</label>
        <input type="text" name="material" value="<%= onePiece.material %>">
        <br><br>

        <label for="price">Price</label>
        <input type="number" name="price" value="<%= onePiece.price %>">
        <br><br>
        
        <label for="imageUrl">Image URL</label>
        <input type="text" name="imageUrl" value="<%= onePiece.imageUrl %>">
        <br><br>

        <button>Update</button>
    </form>
</body>
</html>